Shopping Cart
<div>
<% if @in_cart.length > 0 %>
  <% @in_cart.sort_by { |e| e.name }.each do |item| %>
    <%= item.name %>
    <%= item.quantity %>
    <%= "£#{number_with_precision item.price, precision: 2}" %>
    <%= "£#{number_with_precision (item.price * item.quantity), precision: 2}" %>
    <%= button_to "Remove from Cart", shopping_cart_delete_path, params: { product_name: item.name } %>
    <% end %>
  <%= "Total: £#{number_with_precision @total, precision: 2}" %>
<% else %>
  <%= "No items in cart" %>
<% end %>
<%= link_to "Redeem Voucher", controller: "shopping_cart", action: "discount" %>
</div>
